{% load static %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static 'SocialMedia/navbar.css' %}"/>{% endblock %}

<div class="navbar">
    {% block navbar %}
    <div class="logo">
        <h1>wizzer</h1>
    </div>
    <div class="description" style="background: url('{{ WizzerUser.wizzeruser.background_image.url }}')">
        <div id="shader">
            <a href="{% url 'profile-page' WizzerUser.get_username %}"><img id="profile-photo" src="{{ WizzerUser.wizzeruser.profile_picture.url }}"/></a>
            <h1>{{ WizzerUser.get_full_name }}</h1>
            <div class="follow-count">
                <h1><a class='colored' href="{% url 'follows' %}">Following: {{ WizzerUser.wizzeruser.following }}</a></h1>
                <h1><a class='colored' href="{% url 'follows' %}">Followers: {{ WizzerUser.wizzeruser.followers }}</a></h1>
            </div>
        </div>
    </div>
        <!-- <a class='btn'></a> for all -->
        <a class='colored btn' href="{% url 'index' %}">Home</a>
        <a class='colored btn' href="{% url 'gallery' %}">Gallery</a>
        <a class='colored btn' href="{% url 'directmessages' %}">Direct Messages</a>
        <a class='colored btn' href="{% url 'notifications' %}">Notifications</a>
        <a class='colored btn' href="{% url 'settings' %}">Settings</a>
        <a class='colored btn' href="{% url 'logout' %}">Logout</a>
    {% endblock %}
</div>