{% extends 'SocialMedia/main.html' %}
{% load static %}
{% block title %}Wizzer - Login{% endblock %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static 'SocialMedia/login.css' %}"/>{% endblock %}

{% block body %}
<div class="login-form">
    {% block form %}
    <form method="post" action="{% url 'login' %}">
        <h1 id="title">Wizzer</h1>
        <!--<input class="input" type="text" name="firstname" placeholder="Username">-->
        {{ form }}
        <!--{{ form.username }}-->
        <br>
        <!--<input class="input" type="password" name="lastname" placeholder="Password">-->
        <!--{{ form.password }}-->
        <br>
        <input id="submit" type="submit" value="Login">
        {% csrf_token %}
    </form>
    <div class="subtext">
        <span><a href="#">Forgot Password?</a></span>
        <span>Don't have an account? <a id="sign-up" href="{% url 'register' %}">Sign Up</a></span>
    </div>
    {% endblock %}
</div>
{% endblock %}