<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>{% block title %}Wizzer{% endblock %}</title>
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
		<link href='https://fonts.googleapis.com/css?family=Oswald:200,300,400,700|Satisfy|Pacifico' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' type='text/css' href="{% static 'SocialMedia/main.css' %}"/>
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
		<script type="text/javascript" src="{% static 'SocialMedia/main.js' %}"></script>
	</head>
	<body>
		<div class="navbar">
            {% block navbar %}
			<div class="logo">
				<h1>wizzer</h1>
			</div>
			<div class="description">
				<a href="#"><img id="profile-photo" src="{% static 'SocialMedia/images/IMG_0757.JPG' %}"/></a>
				<h1>{{ WizzerUser.first_name }} {{ WizzerUser.second_name }}</h1>
				<div class="follow-count">
					<h1>Following: {{ WizzerUser.following }}</h1>
					<h1>Followers: {{ WizzerUser.followers }}</h1>
				</div>
			</div>
				<button type="button">Home</button>
				<button type="button">Notifications</button>
				<button type="button">Direct Messages</button>
				<button type="button">Settings</button>
				<button type="button">Logout</button>
            {% endblock %}
		</div>
		<div class="main">
            {% block main %}
            {% endblock %}
		</div>
	</body>
</html>