{% block post %}
<div class="post">
    <div class="top-bar">
        <a href="#"><img id="profile-photo" src="IMG_0757.jpg"/></a>
        <h1>Joe Paipilla</h1>
    </div>
    <div class="post-content">
        <h1>Hi. This is my first post!!!</h1>
    </div>
    <div class="post-footer">
        <button type="button">Write Reply</button>
        <button type="button">Like</button>
        <button type="button">Dislike</button>
        <button type="button">Report</button>
    </div>
</div>
{% endblock %}