{% extends "SocialMedia/main.html" %}
{% load static %}
{% block css %}<link rel='stylesheet' type='text/css' href="{% static 'SocialMedia/mainDiv.css' %}"/>{% endblock %}

{% block body %}
    {% include 'SocialMedia/components/navbar.html' %}

    <div class="main">
        <div class="post-form">
            <form method="POST" action="{% url 'index' %}">
                {{ WhizForm }}
                <input id="submit" class='colored' type="submit" value="Submit">
                {% csrf_token %}
            </form>
        </div>
        <div class="post-container">
            {% for whiz in Whizzes %}
                {% include 'SocialMedia/components/post.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}