/*
Use this file to control the color scheme of the entire website.
 */

:root {
	/*fill colors*/
	--background-scheme: white;
	--color-scheme: blue;
	--active-color: red;
    --shader: rgba(0, 0, 0, .25);

	/*box and border colors*/
	--box-color: white;
	--border-color: #dfdfdf;
	--navbar-border-color: #595959;

	/*text colors*/
	--text-color: black;
	--subtext-color: #a5a5a5;
	--dark-text-color: #dfdfdf;
}