* {
	font-family: Oswald;
	font-weight: 200;
	margin: 0;
	padding: 0;
	color: #a5a5a5;
}

html {
	background-color: #2c2c2c;
	height: 100%;
}

body {
	height: 100%;
	display: flex;
}

a {
	text-decoration: none;
    outline: none;
}

button {
	border: 0;
	cursor: pointer;
}

textarea {
	resize: none;
	border: 0;
}