@import "main.css";

.navbar {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100%;
	width: 20%;
	border-right: 1px solid var(--navbar-border-color);
}

.navbar .logo {
	display: flex;
	justify-content: center;
	font-size: 0.75em;
	border-bottom: 1px solid var(--navbar-border-color);
}
.navbar .description {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid var(--navbar-border-color);
}

.navbar .description * {
    color: var(--dark-text-color);
}

.navbar .description #shader {
	height: 100%;
	width: 100%;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: var(--shader);
}
.navbar .description #shader > * {
	margin: 0 auto;
	/**/
}

.navbar .description #profile-photo {
	border-radius: 50%;
	object-fit: cover;
	height: 150px;
	width: 150px;
}

.navbar .description .follow-count {
	display: flex;
	flex-direction: row;
	font-size: .5em;
	width: 100%;
	justify-content: space-around;
}

.navbar .description .follow-count > *{
	width: 100%;
	text-align: center;
}

.navbar .description .follow-count > *:hover{
	cursor: pointer;
	background-color: var(--color-scheme);
	-moz-transition: .15s ease;
}

.navbar > *:not(.description):not(.logo) {
	text-align: left;
	background-color: var(--background-scheme);
	font-size: 1.5em;
	padding-left: 10px;
}

.navbar > *:not(.description):not(.logo):hover {
    color: var(--dark-text-color);
	background-color: var(--color-scheme);
	-moz-transition: .15s ease;
}